.back-button {
  padding: 4px 12px 4px 12px;
  color: rgb(255, 255, 255);
  background-color: #00a8e8;
  border: none;
  border-radius: 4px;
}
.movie-image {
  max-width: 100%;
  max-height: 500px;
}
