// ------------------------------------Login View & Signup View\
.welcome-text {
  color: #fff;
}

.login-container,
.signup-container {
  background-color: #5e5e5e;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* Adjust the shadow properties as needed */

  /* Center the container */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Make the container slightly larger */
  width: 400px;
  max-width: 90%;

  margin-top: 80px;
}

.signup-link {
  text-decoration: none;
  text-align: left;
}

.text-end {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}

// -------------------------------------------------Navbar
.navbar-brand,
.navbar-nav .nav-link {
  color: white;
  &:hover {
    opacity: 0.8;
    color: white;
  }
}

// .search-nav,
// .logout-nav {
// }

.navbar {
  background-color: #b98b66ce;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* Adjust the shadow properties as needed */
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ----------------------------------------------------Movie Card
#card-button {
  background-color: #dcb482;
  outline: none;
}
#card-button:hover {
  background-color: #dcb482;
  outline: auto;
  opacity: 0.8;
}

.movie-card-img {
  border-radius: 10px;
  max-height: 90%;
}

#card-text {
  color: white;
}

#card-container {
  background-color: #5e5e5e;
}

// -------------------------------------------------------Movie View
#movie-details-view {
  background-color: #5e5e5e;
  color: white;
  border-radius: 10px;
}

.movie-view-img {
  border-radius: 10px;
}
