html,
#root {
  background-color: #dcb482;
}

// ------------------------------------Login View & Signup View\
.welcome-text {
  color: #fff;
}

.login-container,
.signup-container {
  background-color: #5e5e5e;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* Adjust the shadow properties as needed */

  /* Center the container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Make the container slightly larger */
  width: 90% !important;
  max-width: 450px !important;

  margin-top: 20px;

  // Responsive
  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}

.signup-link {
  text-decoration: none;
  text-align: left;
}

.text-end {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}

// -------------------------------------------------Navbar
.navbar {
  background-color: #b98b66ce;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: white !important;
}

.login-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-links {
  display: flex !important;
  align-items: center;
  width: 100%;
}

// ----------------------------------------------------Movie Card
#card-button {
  background-color: #dcb482;
  outline: none;
}
#card-button:hover {
  background-color: #dcb482;
  outline: auto;
  opacity: 0.8;
}

.movie-card-img {
  border-radius: 10px;
  max-height: 90%;
}

#card-text {
  color: white;
}

#card-container {
  background-color: #5e5e5e;
}

// -------------------------------------------------------Movie View
// #movie-details-view {
//   display: flex;
//   flex: 1;
//   background-color: #5e5e5e;
//   color: white;
//   border-radius: 10px;
// }

.movie-view-img {
  border-radius: 10px;
}
